body {
    background-color: white;
}
h1 {
    font-family:  "Spectral";
    font-weight:700;
    line-height: 85%;
    text-align: center;
    
  }

  .sidebardbg {
    background-color:rgba(255, 255, 255, 0.75);
    padding: 25px;
    border-radius: 5px;
  }
  .sidebardbgMP {
   
    background-color:rgba(255, 255, 255, 0.75);
    padding: 25px;
    border-radius: 5px;
  }
p {
    font-family: "Roboto";
    font-weight:300;
}
.ideate{
  color: black;
  max-width: 925px;
}
ul {
  font-family: "Roboto";
  font-weight:300;
}
h3 {
  color: rgb(39, 112, 100);
}
li {
  margin-bottom: 10px;
}
/*header styling*/
*{box-sizing: border-box;}
body { 
    margin: 0px;
    font-family: "Roboto";

  }

.headerHolder {
    position: relative;
    background-color: gray;
    background-image: url('../images/headerbg.png');
    height: 325px;
    
}



  .header {
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
    z-index: 6;
    width: 100%;
    position: fixed;
    top: 75px;
    overflow: hidden;
    background-color: none;
    padding: 20px 40px;
    background-color: white;
    border: solid black 2px;
    margin-left: 20px;
    margin-right: 20px;
    
    
  }
  
  .header a {
      position: relative;
    float: left;
    color: black;
    text-align: justify;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: none;
    border-left: none;
    z-index: 6;
  }
  
  .header a.logo {
    height:100px;
    z-index: 6
  }
  .logo {
    margin-left:none;
    z-index: 6
  }
  .header a:hover {
    background-color: rgb(252, 123, 4);
    color: white;
    z-index: 6
  }
  
  .header a.active {
    background-color: rgb(255, 139, 30);
    color: black;
    padding-left: 12px;
    padding-right: 12px;
    z-index: 6
  }
  
  .header-right {
    padding-top: 35px;
    float: right;
    text-align: center;
    z-index: 6
  }
/*body*/

.back
    {
      position:fixed;
      z-index: 0;
      overflow-y: hidden;
      left: 10px;
      max-width:90vw;
      bottom: 0px;
    }

    /*smt CSS*/
     /*smt CSS*/
      /*smt CSS*/
       /*smt CSS*/
        /*smt CSS*/

.smtbar h1 { /*this is for the styling of the sidebar h1*/
  text-align: left;
  letter-spacing: -2px;
  font-weight: 725;
  padding-bottom: 20px;
  padding-top: 10px;
}
.btn{
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.75);
}
.btn:hover{
  box-shadow: none;
}
.testbar{

    background-image: url("../images/sidebar2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  .ideatebarMP{
    background-image: url("../images/mpside2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
  }

  .protobar {
  background-image: url("../images/sidebar1.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  
  }
  .protobarMP {
    background-image: url("../images/mpSide.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: fill;
    
    
    }
   .pcard{
     max-width: 900px;
     
   }
   .tcard{
     max-width: 800px;
   }

    .sm54cards{
      display: flex;
    }
.ptypimg{
opacity: .7;

}
    .sm54cards > div {
      margin: 10px;
  padding: 20px;
  font-size: 30px;
    }
.card-text {
  font-size:small;
}

.card-img-topMP{
  max-height: 100px;
  width: auto;
  object-fit: cover;
  bottom: 0;
  
}
.jumbotron {
  display: flex;
  flex-direction: column;
  z-index: -1; 
  padding-left: 32vw;
  padding-bottom: 10vh;
  height: auto;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  overflow-x: hidden;
  margin-bottom: 120px;
  background-color: none;
     
}

.shortTron{ /*this is for jumbotron content that doesn't extend to the bottom of the scren*/
  padding-bottom: 25vh;
}

.display-4 {/*this is for subheadlines in the jumbotron copy*/
  max-width: 900px;
  color: rgb(252, 123, 4);
  font-weight: 700;
  opacity: 1!important;
  letter-spacing: -3px!important;

}
.lead {
  max-width: 900px;
  color: black;
  font-weight: 300;
  padding: 10px;
}

.jumbotext2 {
  max-width: 900px;
  color: white;
  padding: 10px;
}
.empathyimage{
  left: 320px;
  max-width: 800px;
}
.makesmall{
  opacity: .75;
  max-height: 400px;
  display: block;
    margin-left: auto;
    margin-right: auto 
}

.makesmall:hover{
  opacity: 1;
}
.mpQuotes{
  max-width: 800px;

}
.btn {
  font: 'roboto';
  font-weight: 300;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 0px;
}
.btn:hover {
  background-color: rgb(252, 123, 4);
}
.mainbutt {
  z-index: 6;
  border-radius: 5px;
  background-color: rgb(252, 123, 4);
  padding: 20px;
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.75);
}
.buttonrow {
  background-color:none;
  position: fixed;
  left: 35vw;
  bottom: 120px;
  padding: 20px;
  width: 700px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  overflow: hidden;
  z-index: 5;
}
    /*smt CSS end*/
     /*smt CSS end*/
      /*smt CSS end*/
       /*smt CSS end*/
        /*smt CSS end*/

/*splash page styling*/

    .bubble
    {
      position:fixed;
      z-index: 0;
      overflow: hidden;
      left: 22vw;
      width: 40vw;
      bottom: 30vh;
    }

    .front
    {
      position:fixed;
      z-index: 1;
      left: 15px;
      max-width:90vw;
      overflow-y: hidden;
      bottom: 0px;
      pointer-events: none;
    }

    .sidebarHero {
      top: 75px;
      height: 100vh; /* Full-height: remove this if you want "auto" height */
      width: 21vw; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; 
      left: 0;
      background-color: black;
      opacity: .75;
      overflow-y: none; /* Disable scroll */
      padding-top: 20px;
      padding: 20px;
      margin-left: 5vw;
    }
.sidebar::-webkit-scrollbar {
      display: none;
  }
  
.sidebar {
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; 
  left: 0;
  background-color: white;
  border: solid black 1px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding: 20px;
  margin-left: 20px;
  top: 220px;
  overflow-y: scroll;
}

/*skills in practice*/

.container {
  overflow-x: hidden;
  margin-left: 350px;
  height: 750px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.9fr 1.1fr; 
  gap: 4px 4px; 
  grid-template-areas:  
    " skillscopy skills-image-one"
    "skillscopy tallimage2"; 
}

.containerMe {
  background-color: none;
  overflow-x: hidden;
  margin-left: 350px;
  height: 750px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows:1fr;
  gap: 4px 4px; 
  grid-template-areas:  
    " skillscopy meimage1"; }

    .meimage1{
      padding: 30px;
      margin: 10px;
      background-image: url("../images/me.jpg");
      background-size: cover;
      background-position: top;
    }
.skills-image-one { 
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url("../images/skillsinpractice.jpg");
  background-size: cover;
  background-position: center;
  min-height: 50px;
  grid-area: skills-image-one; }

.tallimage2 { 
  background-image: url("../images/ptype.png");
  background-size: cover;
  padding: 20px;
  grid-area: tallimage2; }

.skillscopy { 
  margin: 10px;
  color: white;
  font-weight: 200;
  padding: 20px;
  background-color: rgb(83, 83, 83);
  grid-area: skillscopy;
overflow-y: scroll; }
.skillscopy::-webkit-scrollbar {
  display: none;
}
.orangeHeadline {
  color:rgb(255, 139, 30);
  line-height: 85%;
  font-family: "Spectral";
    font-weight:700;
    font-size: xx-large;
}

.whiteonGray {
font-family: "roboto";
font-weight: 250;
}

/* my work buttons MAKE CARDS HERE!!! */
.workContainer {
  margin-top: 20px;
  margin-left: 350px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  

}


.workContainer > div {
  background-color: #f1f1f1;
  width: 300px;
  height: 300px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  
}
.workLink1 {
  width: 300px;
  height: 300px;
  padding: 20px;
  background-image: url("../images/smttile.png");
  vertical-align: bottom;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  opacity: .8;
  
  
}
.smtcardcap {
  position: relative;
  top: 100px;
  align-items: baseline;
  text-align: center;
  font-weight: 700;
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 1px -2px 2px rgba(50, 50, 50, 0.75);
  padding: 20px;
  border-radius: 5px;
}

.smtcardcap:hover {
  box-shadow: none;
  color:rgb(252, 123, 4);
  background-color: white;
}
.workLink1:hover{
  opacity: 1;
}

.workLink2 {
  opacity: .8;
  width: 300px;
  height: 300px;
  padding: 20px;
  background-image: url("../images/fcctile.png");
  vertical-align: bottom;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}

.workLink3 {
  
  width: 300px;
  height: 300px;
  padding: 20px;
  background-image: url("../images/madtile50.png");
  vertical-align: bottom;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}
.blackFont{
  color:black;
}
.workLink3:hover{
  background-image: url("../images/madplanettile.png");
}
span {
 text-align: center;
 font-family: 'Roboto';
 font-size: large;
 color: white;
 text-shadow: none;
}

a:link {
  text-decoration: none;
}

  .hero {
    height:700px;
    position: absolute;
    top: 325px;
  }


  /*footer*/
    /*footer*/  /*footer*/
    /*footer*/  /*footer*/
    /*footer*/  /*footer*/
    /*footer*/

  .footer {
    z-index: 3;
    display: inline-block;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: solid 2px black;
  }
  .copyright {
    font-weight: 300;
    padding: 5px;
    float: left;
    margin-top: 40px;
    margin-bottom: none;
    margin: 40px;
  }
  .footer-right {
    float: right;
    padding: 20px;
    padding-right: 50px;
    text-align: center;
  }
  .b1 {
    height: 60px;
    width: 60px;
    border: none;
    color: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 50%;
    background:  rgb(255, 139, 30) url('../images/resumeblk.svg') no-repeat center;
  
  }
  .b1:hover {
    background:  white url('../images/resume.svg') no-repeat center;
    border: solid rgb(146, 146, 146) 1px;
  }

  .b2 {
    height: 60px;
    width: 60px;
    border: none;
    color: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 50%;
    background:  rgb(255, 139, 30) url('../images/socialblk.svg') no-repeat center;
  
  }
  .b2:hover {
    background: white url('../images/social.svg') no-repeat center;
    border: solid rgb(146, 146, 146) 1px;
  }
  .b3 {
    height: 60px;
    width: 60px;
    border: none;
    color: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 50%;
    background: rgb(255, 139, 30) url('../images/contactblk.svg') no-repeat center;
  
  }
  .b3:hover {
    background: white url('../images/contact.svg') no-repeat center;
    border: solid rgb(146, 146, 146) 1px;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
        float: none;
        }
      }

@media screen and (max-width: 900px) {
      .sidebar {
        width: 25vw;
      
      }
    }

@media screen and (min-width: 1500px) {
      .jumbotron {
        margin-right: 15vw;
        padding-left: 25vw;
       }
     }

 @media screen and (max-height: 1000px) {

  .back{
    left: 20px;
  }

  .front{
    left:20px;
  }
        .sidebarHero {
          width: 22vw;
        }

        .bubble {
          left: 23vw;
        }
        .sidebar {
          top: 10vh;
        }
        .headerHolder {
          
          height: 200px;
        }
        .header {
          max-height: 15vh;
          top: 13px;
          align-items: center;
          padding-top: 0;
        }

        .header-right{
          padding-top: 3vh;
        }
        .container {
          height: 600px;
        }
        .logo {
          max-height: 10vh;
          max-width: 10vh;
          object-fit: cover;
        }
        .footer {
          max-height: 15vh;
        }
}

        /* bubble animation */
        @-webkit-keyframes bubble {
          0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
          10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
          20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
          30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
          40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
          50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
          60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
          70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
          80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
          90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
          100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
      }
      .bubble:hover {
          -webkit-animation-name: bubble;
          -webkit-animation-duration: 0.5s;
          -webkit-transform-origin:50% 50%;
          -webkit-animation-iteration-count: infinite;
          
      }

      .bubble {
        display:inline-block
    }